body {
    margin:0;
    padding:0;
    }
nav{
    width:100%;
    background:black;
    overflow:auto;
}
ul{
    padding:0;
    margin:0 0 0 150px;
    list-style:none;
}
li{
    float:left;
}
.logo img{
    position:absolute;
    margin-top: 15px;
    margin-left: 10px;
    width: 135px;
    height: 75px;

}
nav a{
    width:100px;
    display:block;
    padding:40px 15px;
    text-decoration: none;
    font-family: sans-serif;
    color: lightcyan;
    text-align: center;
}
nav a:hover{
    background: lightblue;
    transition: 0.5s;
    text-transform: uppercase;
}

h1, h3{
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
}

h2 {
    font-family: sans-serif;
    font-style: italic;
    margin: 0;
    padding: 1em 0;
}

p {
  margin: 0;
  padding:25px;
}

nav .Search{
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    width: 20%;
    height: 40px;
    padding-left: 20px;
}  

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
  }
 /* header{
      border: 1px solid red;
  }*/

#showcase .bg-image {
    margin-top: -35px;
    position: absolute;
    background: url("background.jpg");
    background-position:bottom;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:513px;
    z-index:-1;
    opacity:0.7;

  }


#showcase {
    min-height: 513px;
    color: #fff;
    text-align: center;
  }
#showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
    text-emphasis: bold;
    font-size: 50px;
  }
#showcase .content-wrap,
#section-a .content-wrap {
    padding: 0 1.5em;
    color: black;
  }
header a:hover{
    background-color: lightblue;
    transition: 0.5s;
}

body .container{
    margin-top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:whitesmoke;
    /*background: linear-gradient(lightgrey,lightgrey, #fff 50%, #fff 100%);*/
}

.container h2
{
    margin-top: 0;
   text-align:center;
   font-family: sans-serif;
   font-style: italic;
   font-size: 40px;
   margin-top: -25px;
   
}

.container h3
{
    margin-top: 0;
   text-align:center;
   font-family: sans-serif;
   font-style: italic;
   margin-top: -25px;
   
}

.container p{
    font-family: sans-serif;
    font-style: italic;
    line-height: 2;
    text-indent: 40px;
    margin-top: -25px;
   
}

.container iframe {

    float: left;
    margin: 20px 20px 20px 20px;
    max-width: 100%;
 }

 body .Phase{
    margin-top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightblue;
    /*background: linear-gradient(lightgrey,lightgrey, #fff 50%, #fff 100%);*/
}
.Phase h2
{
    margin-top: 0;
   text-align:center;
   font-family: sans-serif;
   font-style: italic;
   font-size: 40px;
   margin-top: -25px;
   
}

.Phase h3
{
    margin-top: 0;
   text-align:center;
   font-family: sans-serif;
   font-style: italic;
   margin-top: -25px;
   
}

.Phase p{
    text-align:center;
    font-family: sans-serif;
    font-style: italic;
    line-height: 1.6;
    margin-top: -25px;
   
}

.Phase img{
    width: 150px;
    height: 150px;
    padding: 0px 0px 0px 430px;
    margin-bottom: -90px;
}

body .Internship{
    margin-top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
    /*background: linear-gradient(lightgrey,lightgrey, #fff 50%, #fff 100%);*/
}

.Internship img{
    width: 900px;
    height: 300px;
    float:right;
    margin: 20px 20px 20px 20px;
}

.Internship h2
{
    margin-top: 0;
   text-align:center;
   font-family: sans-serif;
   font-style: italic;
   font-size: 40px;
   margin-top: -25px;
   
}

.Internship h3
{
    margin-top: 0;
   text-align:center;
   font-family: sans-serif;
   font-style: italic;
   margin-top: -25px;
   
}

.Internship p{
    text-align:center;
    font-family: sans-serif;
    font-style: italic;
    line-height: 1.6;
    margin-top: -25px;
   
}

body .Sessions{
    margin-top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: lightblue;
    /*background: linear-gradient(lightgrey,lightgrey, #fff 50%, #fff 100%);*/
}
.Sessions h2
{
    margin-top: 0;
   text-align:center;
   font-family: sans-serif;
   font-style: italic;
   font-size: 40px;
   margin-top: -25px;
   
}

.Sessions h3
{
    margin-top: 0;
   text-align:center;
   font-family: sans-serif;
   font-style: italic;
   margin-top: -25px;
   
}

.Sessions p{
    text-align:center;
    font-family: sans-serif;
    font-style: italic;
    line-height: 1.6;
    margin-top: -25px;
   
}
.button {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
    margin-left: 1100px;
    margin-top: -250px;
  }
.Sessions img{
    width: 700px;
    height: 350px;
    float: left;
    margin: 30px 20px 20px 20px;
}
footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
}



body .quotes{
    text-align: center;
    background-color: whitesmoke;
    color: #333;
}

.quotes h1 {
    
    font-size: 30px;
    font-family:sans-serif;
    font-style: italic;
    color: #333;
}

.quotes button {
    width: 250px;
    height: 80px;
    background-color:#333;
    color: white;
}

.quotes p{
    font-size: 20px;
    font-family:sans-serif;
    font-style: italic;
    color: #333;
}

.quotes button:hover{
    background-color: lightblue;
}

.quotes img{
    width: 400px;
    height: 250px;
    float: right;
    margin: 30px 100px 0px 0px;
}


